.header-inner-mobile {
  position: fixed;
  /* top: 0;
  left: 0;
  z-index: 999; */
  width: 100%;
  background-color: #0F0F0F;
}

.new-navbar-toggle {
  margin: 14px 0 0 0;
  margin-right: 0;
  float: right;
  padding: 0;
  border: none; }
  .new-navbar-toggle .hamburger-box {
    width: 36px;
    height: 24px; }
    .new-navbar-toggle .hamburger-box .hamburger-inner {
      background-color: #fff;
      width: 35px;
      height: 3px; }
      .new-navbar-toggle .hamburger-box .hamburger-inner::after, .new-navbar-toggle .hamburger-box .hamburger-inner:before {
        background-color: #fff;
        width: 35px;
        height: 3px;
}

.body-margin-mobile {
  margin-top: 15vh;
}
